node_modules

*.md

_book
assets

.DS_Store
.editorconfig
.eslintignore
.gitignore
.lintmdrc
.prettierignore

package-lock.json

examples/declaration-files/19-export-default-enum-error/types/foo/index.d.ts
examples/**/*.js
